body {
    background:  #002d52;
  
}

h1 {
    padding-top: 100px;
    color: #0088d2;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Roboto Condensed", sans-serif;
}